.cart-container {
  padding: 2rem;
  text-align: center;
}

.cart-container h2 {
  color: #ff0000;
}


.cart-container ul {
  list-style: none;
  padding: 0;
}

.cart-page {
  background-color: #fff; 
  min-height: 100vh;      
  padding: 20px;         
}

.cart-container li {
  margin: 0.5rem 0;
  padding: 0.5rem;
  background: #111;
  border: 1px solid #ff0000;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.cart-container button {
  padding: 4px 8px;
  background: #ff0000;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.cart-container button:hover {
  background: #aa0000;
}
