.item-detail {
  background-color: #6b9640; /* verde original */
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
  max-width: 400px;
  margin: 1rem auto;
  text-align: center;
}

.item-detail img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.item-detail h2 {
  margin: 0.5rem 0;
}

.item-detail p {
  margin: 0.3rem 0;
}

.contador {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.contador button {
  padding: 0.5rem 1rem;
  background-color: #ffffff; /* botones rojos */
  color: #0a0a0a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contador button:disabled {
  background-color: #3d3c3c;
  cursor: not-allowed;
}

.contador span {
  font-weight: bold;
  color: #000000;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.btn-agregar, .btn-volver {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #d33f49; /* mantiene rojo */
  color: #fff;
  cursor: pointer;
}

.btn-agregar:disabled {
  background-color: #999;
  cursor: not-allowed;
}