.item-detail {
  padding: 2rem;
  text-align: center;
  background: #111;
  margin: 2rem auto;
  width: 80%;
  border: 2px solid #ff0000;
  border-radius: 10px;
  box-shadow: 0 0 15px #ff0000;
  color: #fff; 
}

.item-detail h2 {
  color: #ff0000;
  margin-bottom: 1rem;

}

.item-detail p {
  margin: 0.5rem 0;
  color: #fff; 
}

.item-detail button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #ff0000;
  border: none;
  border-radius: 6px;
  color: #fff;
}

.item-detail button:hover {
  background: #aa0000;
}